.icons * {
  cursor: pointer;
  transition: all 0.3s ease;
}
.icons *:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

footer {
  width: 100%;
  background: var(--footer-color);
  color: var(--gray-color);
  margin-top: auto;
  /* Prevent overlap, always at bottom */
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
}
